.footer-cont {
    margin-top: 10vmin;
    height: 40vmin;
    background-color: #E1147D;
    position: relative;
}

.footer-cont p {
    text-align: center;
    font-size: 5vmin;
    line-height: 40vmin;
    color: white;
}

.cr{
    text-align: center;
    font-size: 2vmin;
}