.rec2-cont{
    background-color: #e1147e;
}

.rec2-head{
    margin-left: 12vmin;
    margin-top: 10vmin;
    padding-top: 5vmin;
    margin-bottom: 5vmin;
}

.rec2-cards {
    margin-left: 10vmin;
    margin-right: 10vmin;
    text-align: center;
    padding-bottom: 3vmin;
}

.rec2-card-cont {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 2vmin;
    padding: 0 !important;
    margin-top: 2vmin;
    height: 50vmin;
    background-color: white;
    border-radius: 1vmin;
}


.rec2-cont{
    padding: 0 !important;
}

.rec2-card-img img {
    height: 25%;
    border-radius: 2vmin;
    margin: 1.5vmin;
    margin-bottom: 0.5vmin;
    margin-top: 5vmin;
}

.rec2-card-btn {
    background-color: #747070;
    height: 6vmin;
    margin: 4vmin;
    margin-top: 2.5vmin;
    border-radius: 0.5vmin;
    font-size: 2.5vmin;
    line-height: 6vmin;
}

.rec2-card-btn span {
    color: white;
}