.ss-cont {
    margin-top: 10vmin;
    background: #e1147e;
    height: 63vmin;
}

.sec1 {
    height: 100%;
    position: relative;
    color: #000000;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F0F0F0 100%);
    z-index: 100;
    text-align: center;
}

.sec1:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F0F0F0 100%);
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

.sec2 {
    height: 100%;
    width: 40%;
    position: relative;
    color: #000000;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F0F0F0 100%);
    z-index: 100;
    text-align: center;
    background: none;
}

.sec2:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F0F0F0 100%);
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

.rect{
    height: 40vmin;
    position: relative;
    top: 50%;
    transform: translate(-100%, -50%);
    left: 100%;
}

.car-btn-cont{
  z-index: 1000;  
}

.circle{
    height: 20vmin;
    width: 20vmin;
    border: 0.2vmin solid white;
    position: absolute;
    left: 33vmin;
    bottom: 3vmin;
}

.car-btn span{
    background-color: white;
    color: #e1147e;
    position: absolute;
    left: 35vmin;
    bottom: 10vmin;
    font-size: 2vmin;
    padding: 1.5vmin;
    border-radius: 1vmin;
}

.indicator-item{
    background-color: black !important;
}

.indicators .active{
    background-color: #666666 !important;
}

.sec2 img{
    height: 40vmin;
    position: relative;
    top: 50%;
    left: 20%;
    transform: translate(-100%, -50%);
}

@media only screen and (max-width: 650px){
    .ss-cont{
        height: 50vmin;
    }
    .sec1:after{
        left: -35vmin;
    }
    .sec2:after{
        left: -35vmin;
    }
    .rect{
        height: 25vmin;
        left: 45vmin;
        top: 25vmin;
    }
    .circle{
        left: 10vmin;
        bottom: -4vmin;
    }
    .car-btn span{
        left: 12vmin;
        bottom: 3vmin;
    }

    .sec2 img{
        height: 25vmin;
        top: 25vmin;
        left: 20vmin;
    }
}

@media only screen and (min-width: 650px) and (max-width: 900px){
    .rect{
        height: 30vmin;
        left: 50vmin;
        top: 30vmin;
    }
    .circle{
        left: 5vmin;
        bottom: 12vmin;
    }
    .car-btn span{
        left: 7vmin;
        bottom: 19vmin;
    }

    .sec2 img{
        height: 30vmin;
        top: 32vmin;
        left: 30vmin;
    }
}