.displayimg img {
    height: 50vmin;
    padding: 5vmin;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25), -4px -4px 6px rgba(222, 222, 222, 0.25);
    border-radius: 1.5vmin;
    margin: 5vmin;
}

.condn, .condntype {
    height: auto;
    width: 40vmin;
    padding: 2vmin;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #4d4d4d;
    border: none;
    outline: none;
    border-radius: 0.4vmin;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vmin;
}

.condn p, .condntype p {
    color: white;
    font-size: 2vmin;
    padding-left: 3vmin !important;
}

.condn p span, .condntype p span {
    color: white;
    font-size: 2.3vmin;
}

.blueli, .redli, .purpleli, .greenli {
    list-style-type: none;
}

.blueli::before, .redli::before, .greenli::before, .purpleli::before {
    content: "\2022";
    font-size: 2.5vmin;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.blueli::before {
    color: blue;
}

.redli::before {
    color: red;
}

.purpleli::before {
    color: purple;
}

.greenli::before {
    color: green;
}

.condn, .condntype {
    margin-top: 5vmin;
}

.condntype ol li {
    padding-top: 1.5vmin;
}

@media only screen and (max-width:768px) {
    .displayimg img {
        height: 55vmin !important;
        margin: 2vmin !important;
    }
    .condn, .condntype {
        margin-top: 3vmin !important;
    }
}

.drec-head {
    margin-left: 12vmin;
    margin-top: 15vmin;
    margin-bottom: 5vmin;
}

.drec-cards {
    margin-left: 10vmin;
    margin-right: 10vmin;
    text-align: center;
}

.drec-card-cont {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 2vmin;
    padding: 0 !important;
    margin-top: 2vmin;
    height: 50vmin;
    border-radius: 1vmin;
}

.drec-cont {
    padding: 0 !important;
}

.drec-card-img img {
    height: 25%;
    border-radius: 2vmin;
    margin: 1.5vmin;
    margin-bottom: 0.5vmin;
    margin-top: 5vmin;
}

.drec-card-btn {
    background-color: hsl(329, 84%, 48%);
    height: 6vmin;
    margin: 4vmin;
    margin-top: 2.5vmin;
    border-radius: 0.5vmin;
    font-size: 2.5vmin;
    line-height: 6vmin;
}

.drec-card-btn span {
    color: white;
}

@media only screen and (max-width: 768px) {
    .drec-head {
        margin-left: 4vmin;
    }
    .drec-cards {
        margin-left: 2vmin;
        margin-right: 2vmin;
    }
    .drec-card-img img {
        height: 25vmin;
    }
}